:root {
    --bgDesktop: url(../images/bg-desktop-light.jpg) #FAFAFA;
    --primary: #FFFFFF;
    --shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    --textPrimary: #494C6B;
    --textSecondary: #9495A5;
}

[data-theme="dark"] {
    --bgDesktop: url(../images/bg-desktop-dark.jpg) #171823;
    --primary: #25273D;
    --shadow: none;
    --textPrimary: #C8CBE7;
    --textSecondary: #5B5E7E;
}

.completed {
    text-decoration: line-through;
    color: var(--textSecondary);
}

.invisible {
    display: none;
}

.container {
    padding: 54px 8%;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.top-logos {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 540px;
    margin: 0 auto 48px;
}

.divInput {
    display: flex;
    align-content: center;
    position: relative;
    box-sizing: border-box;
    max-width: 540px;
    margin: 0 auto;
}

#btnCreate {
    position: absolute;
    left: 16px;
    margin-top: 15px;
}

.todoInput {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    padding: 0 0 0 47px;
    background: var(--primary);
    color: var(--textPrimary);
}

#todoList {
    list-style-type: none;
    padding-left: 0;
    background: white;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}

li {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #E3E4F1;
    background: var(--primary);
}

body {
    background: var(--bgDesktop);
    background-repeat: no-repeat;
    margin: 0;
    font-size: 12px;
    font-family: Josefin Sans;
    font-weight: 400;
    color: var(--textPrimary);
    background-size: contain;
    background-position: top center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #E3E4F1;
    background: transparent;
    cursor: pointer;
}

    .circle:hover {
        border-image-source: url(../images/btn-border.svg);
        border-image-slice: 12;
        border-image-width: 20px;
    }

.btnDelete {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4vw;
    margin-top: 4px;
    border: none;
    background: transparent;
}

.deleteImg {
    width: 12px;
}

.listText {
    padding: 4px 0 0 11px;
}

.divBottom {
    background: var(--primary);
    display: flex;
    padding: 16px;
    border-radius: 0 0 5px 5px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.itemsLeft {
    padding-left: 3px;
    color: var(--textSecondary);
}

[id^=btnClear] {
    background: transparent;
    border: none;
    color: var(--textSecondary);
    font-size: 12px;
    font-family: 'Josefin Sans';
    padding-right: 0px;
}

.divFilters {
    max-width: 540px;
    position: relative;
    display: flex;
    background: var(--primary);
    border-radius: 5px;
    padding: 16px;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto 50px;
    box-shadow: var(--shadow);
}

[id^=btnAll] {
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--textSecondary)
}

[id^=btnActive] {
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--textSecondary)
}

[id^=btnCompleted] {
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--textSecondary)
}

.dragText {
    font-size: 14px;
    text-align: center;
    color: var(--textSecondary);
}

.firstBox {
    position: relative;
    max-width: 540px;
    margin: 0 auto;
    box-shadow: var(--shadow);
}

.secondBox {
    max-width: 540px;
    margin: 0 auto;
}

.divBottomDesk {
    background: var(--primary);
    display: none;
    padding: 16px;
    border-radius: 0 0 5px 5px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.checked {
    background: url(../images/btn-checked.svg);
    background-size: cover;
    background-position: center center;
    border: none;
}

[id^=btn] {
    cursor: pointer;
}

    [id^=btn]:hover {
        color: #3A7CFD;
    }

[id^=btnTheme] {
    background: none;
    border: none;
}

.theme {
    width: 20px;
    height: 20px;
}

/*----------Media querys----------*/

@media screen and (min-width: 200px) and (max-width: 375px) {
    body {
        background: url(../images/bg-mobile-light.jpg);
        background-repeat: no-repeat;
    }
}


/*----------Desktop Query----------*/
@media screen and (min-width: 500px) {
    .divBottom {
        display: none;
    }

    .divBottomDesk {
        display: flex;
    }

    .divFilters {
        display: none;
    }
}

@media screen and (min-width: 650px) {
    .btnDelete {
        right: 2vw;
    }
}
